/* estilos del cuerpo de la pagina */
body {
    background: url('https://i.ytimg.com/vi/n2KH2GH7xt0/maxresdefault.jpg');
    position: absolute;
    top: 100px;
    right: 400px;
    left: 400px;
}
/*estilo de la latra formato h1*/
h1 {
    color: antiquewhite;
}


button {
background-color: aquamarine;
}

